/*
    Author: Jacob Stone
    File: styles.css for social links page
*/

/*basic reset*/
body, main, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

/*body*/
body {
    background-color: hsl(0, 0%, 8%);;
    font-family: "Inter", sans-serif;
}

/*main content*/
main {
    background-color: hsl(0, 0%, 8%); /*off black*/
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*just for test. Remove later*/
main p {
    color:aliceblue;
}

/*footer styles*/
footer {
    background-color: hsl(0, 0%, 8%); /*off black*/
}

.link-container {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.link-button {
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    width: 80%;
    height: 3rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-button a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 0;
    height: 1.5rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}